$orange-color: #ff9900;
$disabled-color: #cccccc;
$light-gray: #cbcbcb;
$text-color: #242424;
$light-color: #ffff;
$error-color: #e84522;
$loading-background: rgba(255, 255, 255, 0.8);
$font-size-small: 0.5rem; // 8px
$font-size-base: 1rem; // 16px
$font-size-large: 1.5rem; // 24px
$radius: 0.3rem; // 4.8px
