@import "./variables";
@import "./mixins";

@font-face {
  font-family: "IBM Plex Sans";
  src: url("assets/fonts/IBMPlexSans-Regular.ttf");
}

#app {
  @include flex-center(column);
  min-height: 100vh;
}

* {
  font-family: "IBM Plex Sans", Avenir, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  font-weight: 400;
}

h1 {
  font-size: $font-size-large;
  margin: 1rem 0; /* 16px */
}

button {
  font-weight: bold;
  padding: 0.5rem 1rem; /* 8px, 16px */
  border-radius: $radius;
  border: 1px solid $primary-color;
  width: 100%;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background-color: $disabled-color;
    border-color: $disabled-color;
  }
}

label {
  display: flex;
  flex-direction: column;

  input {
    margin-top: 0.5rem; /* 8px */
  }
}

span {
  margin: 0;
}

.radio-group {
  margin: 1rem 0; /* 16px */
  display: flex;
  justify-content: space-between;

  label {
    width: fit-content;

    input {
      margin-right: 0.2rem; /* 3.2px */
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  label {
    span {
      margin: 0.5rem 0; /* 8px */
    }
  }

  .submit {
    display: flex;
    gap: 1.5rem;
  }

  button {
    margin-top: 1rem; /* 16px */
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $light-color;
  transition: filter 0.3s;

  &:hover:enabled {
    filter: brightness(110%);
  }
}

.btn-secondary {
  background-color: transparent;
  color: $primary-color;
  transition: background-color 0.3s, color 0.3s;

  &:hover:enabled {
    background-color: $primary-color;
    color: $light-color;
  }
}

.input-default {
  padding: 0.5rem; /* 8px */
  border: 1px solid $text-color;
  border-radius: $radius;
  transition: border-color 0.3s;
  min-width: 18.75rem; /* 300px */
  width: 100%;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.error-message {
  font-weight: bold;
  color: $error;
  font-size: 0.6rem; /* 9.6px */
  margin-top: 0.3rem; /* 4.8px */
}

.input-invalid:not(:focus) {
  border-color: $error;
  animation: shake 0.2s ease-in-out;
}

.hilight-text {
  color: $primary-color;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
